<div class="jumbotron">
    <h1 class="display-4 test-center">Users Domain</h1>
    <hr>
    <div class="row">
        <div class="col-md-5">
            <app-register></app-register>
        </div>
    </div>
  <div class="row">
    <div class="col-md-5">
      <app-verify></app-verify>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <app-login></app-login>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <app-logout></app-logout>
    </div>
  </div>
</div>
